@import "../../assets/style/variables";

.button {
  padding: 12px 16px;
  border-radius: 55px;
  border: none;
  cursor: pointer;
  font-size: $font-size-s;
  color: $pure-white;

  &__primary {
    background-color: $green-dark;
    &:hover {
      background-color: $green-darker;
    }
  }

  &__dark {
    background-color: $dark;
    border: 1px solid $dark;
  }

  &__link {
    text-decoration: underline;
    color: $dark;
    background-color: transparent;
  }

  &__info {
    background-color: $yellow-dark;
    &:hover {
      background-color: $yellow-darker;
    }
  }


  &__outlined {
    background-color: $pure-white;
    color: $dark;
    border: 1px solid $dark;
  }
}
